<!DOCTYPE html>
<html>

<head>
  <title>Students</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color:slateblue;
    }

    h2 {
      color: papayawhip;
    }

    table {
      border-collapse: collapse;
      width: 60%;
    }
    tr{
      padding: 10px;
      text-align: center;
      background-color:cornsilk;
    }
    th,
    td {
      padding: 8px;
      color:springgreen;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
    }

    button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 16px;
    }

    .pass { 
      color: rgb(235, 107, 56);
      font-weight: bold;
    }

    .fail {
      color: red;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <center>

    <h2>Add Student</h2>

    <form action="/add-student" method="POST"><br>
      <input type="text" name="name" placeholder="Name" required />
      <input type="number" name="age" placeholder="Age" required />
      <input type="text" name="course" placeholder="Course" required />
      <input type="number" name="marks" placeholder="Marks" required />
      <button type="submit">Add</button>
    </form>

    <br><br>

    <hr>

    <h2>Student List</h2>

    <% if (students.length===0) { %>
      <p>No students added yet.</p>
      <% } else { %>

        <table border="1">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Course</th>
            <th>Marks</th>
            <th>Status</th>
            <th>Action</th>
          </tr>

          <% students.forEach(student=> { %>
            <tr>
              <td>
                <%= student.id %>
              </td>
              <td>
                <%= student.name %>
              </td>
              <td>
                <%= student.age %>
              </td>
              <td>
                <%= student.course %>
              </td>
              <td>
                <%= student.marks %>
              </td>
              <td class="<%= student.marks >= 40 ? 'pass' : 'fail' %>">
                <%= student.marks>= 40 ? 'PASS' : 'FAIL' %>
              </td>
              <td class="actions">
                <a href="/edit-student/<%= student.id %>">Edit</a>
                <form action="/delete-student/<%= student.id %>" method="POST" style="display:inline;">
                  <button type="submit" onclick="return confirm('Are you sure?')">
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            <% }) %>
        </table>

        <% } %>
  </center>
</body>

</html>