<!DOCTYPE html>
<html>

<head>
    <title>User Table</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="container">
        <h2>User CRUD App</h2>

        <a class="btn" href="/addUserPage">➕ Add User</a>

        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>

            <% allUsers.forEach(user=> { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.phone %>
                    </td>
                    <td>
                        <%= user.address %>
                    </td>
                    <td>
                        <a class="btn" href="/editPage?userId=<%= user.id %>">Edit</a>
                        <a class="btn btn-danger" href="/deleteUser?userId=<%= user.id %>">Delete</a>
                    </td>
                </tr>
                <% }) %>
        </table>
    </div>
</body>

</html>
